<app-menu></app-menu>


<div class="container m">
    <div class="row justify-content-center mt-5">



        <a class="text-white botao"
            href="https://docs.google.com/forms/d/e/1FAIpQLSdXLNAqot_qaQasFpfR3_LEEm8tn74lhDo1i9Z0aW15LqDDNg/viewform"
            target="_blank">
            <button type="button " class="btn btn-secondary w-100 h-75 mb-4">
                Cadastrar um Novo Cliente
            </button>
        </a>

    </div>

    <div class="row justify-content-center mt-5">

        <a class="text-white botao"
            href="https://docs.google.com/forms/d/e/1FAIpQLScmJLxnYRPj1pxLMaxE6ITjlNyO0ykCYXg6gqbzbQBBYH3glA/viewform"
            target="_blank">
            <button type="button" class="btn btn-secondary w-100 h-75 mb-4">
                Informar Recebimento de Parcelas
            </button>
        </a>
    </div>
</div>