
<div class="container m">
    <div class="row justify-content-center mt-5">
        <a class="text-white botao"
            href="https://docs.google.com/forms/d/e/1FAIpQLSdXLNAqot_qaQasFpfR3_LEEm8tn74lhDo1i9Z0aW15LqDDNg/viewform"
            target="_blank">
            <button type="button " class="btn btn-secondary w-100 h-75 mb-4">
                Cadastrar um Novo Cliente
            </button>
        </a>
    </div>

    <div class="row justify-content-center mt-3">
        <a class="text-white botao"
            href="https://docs.google.com/forms/d/e/1FAIpQLScmJLxnYRPj1pxLMaxE6ITjlNyO0ykCYXg6gqbzbQBBYH3glA/viewform"
            target="_blank">
            <button type="button" class="btn btn-secondary w-100 h-75 mb-4">
                Informar Recebimento de Parcelas
            </button>
        </a>
    </div>
    <div class="row justify-content-center mt-3">
        <a class="text-white botao"
            href="https://docs.google.com/forms/d/e/1FAIpQLSdPDWZO5j4rEzzg7M9o8E7WrO1zopu31RigeW3VE6_qNScFfA/viewform"
            target="_blank">
            <button type="button" class="btn btn-secondary w-100 h-75 mb-4">
                Renegociação
            </button>
        </a>
    </div>
    <div class="row justify-content-center mt-3 mb-5">
        <a class="text-white botao"
            href="https://docs.google.com/forms/d/e/1FAIpQLSeKuqc4avA3tKSICD_ONEnBEG3qhu8SUVVE-npKfZPjoVluRA/viewform"
            target="_blank">
            <button type="button" class="btn btn-secondary w-100 h-75 mb-4">
                Já sou cliente
            </button>
        </a>
    </div>
</div>